body{
    background-image: no-repeat;

    background-image: radial-gradient(rgba(10, 130, 48, 0.896),rgba(80, 82, 15, 0.75)), url('images/31.jpg');
    background-size:cover;
}

h1{
    text-align:center;
    font-size:30px;
    font-weight: 900;
    text-decoration:underline;
    color:rgb(43, 226, 214);
}

p{
    font-size:15px;
    line-height:6;
}

#av{
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: underline;
    color:aqua;
}

#av1{
    text-decoration: underline;
    color:blue;
}

#av2{
    text-transform: lowercase;
    font-weight: 900;
    font-style:italic;
    text-decoration: underline;
    color:darkcyan;
}

h2{
    font-size: 20px;
}